In [ ]:
!pip install fastai --upgrade

In [ ]:
!unzip ./cardiovascular-disease-dataset.zip

Archive:  ./cardiovascular-disease-dataset.zip
  inflating: cardio_train.csv

In [ ]:
from fastai.tabular.all import *
import pandas as pd

In [ ]:
dataset_path = '/content/cardio_train.csv'

In [ ]:
df = pd.read_csv(dataset_path, delimiter=';')
df.columns = df.columns.str.replace(' ', '')
df.head()

   id    age  gender  height  weight  ...  gluc  smoke  alco  active  cardio
0   0  18393       2     168    62.0  ...     1      0     0       1       0
1   1  20228       1     156    85.0  ...     1      0     0       1       1
2   2  18857       1     165    64.0  ...     1      0     0       0       1
3   3  17623       2     169    82.0  ...     1      0     0       1       1
4   4  17474       1     156    56.0  ...     1      0     0       0       0

[5 rows x 13 columns]

In [ ]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [ ]:
to = TabularPandas(df, procs=[Categorify, FillMissing,Normalize],
                   cat_names = ['cholesterol', 'gluc', 'smoke', 'alco', 'active'],
                   cont_names = ['age', 'height', 'weight', 'ap_hi', 'ap_lo'],
                   y_names='cardio',
                   splits=splits)

In [ ]:
dls = to.dataloaders(bs=64)

In [ ]:
dls.show_batch()

In [ ]:
learn = tabular_learner(dls)

In [ ]:
learn.fit(5)

In [ ]:
learn.show_results()

In [ ]:
df.iloc[0]

id                 0.0
age            18393.0
gender             2.0
height           168.0
weight            62.0
ap_hi            110.0
ap_lo             80.0
cholesterol        1.0
gluc               1.0
smoke              0.0
alco               0.0
active             1.0
cardio             0.0
Name: 0, dtype: float64

In [ ]:
row, clas, probs = learn.predict(df.iloc[0])

In [ ]:
row['cardio']

0    0.278099
Name: cardio, dtype: float64